/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Navigation Bar */

.topnav {
    background-color: #0033cc;
    padding: 10px;
    display: flex;
    align-items: center;
}

.topnav a {
    color: #69d7ae;
    text-decoration: none;
    margin-right: 15px;
    font-weight: bold;
}

.topnav a:hover {
    text-decoration: underline;
    background-color: white;
    color: #0033cc;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

/* Container */
.container {
    width: 80%;
    margin: auto;
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

/* Table Styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: white;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #0033cc;
    color: white;
}

a {
    color: #0033cc;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/* Form Styling */
form {
    background:whitesmoke;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #0033cc;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #002699;
}




